<%- include('./partials/header.ejs') %>

    <main class="contact__page">
      <section class="item contact container">
        <picture class="contact__img">
          <article class="card-item card-contact">
            <a class="card-item__link" href="https://www.linkedin.com/in/maxiderecho/" target="_blank" rel="noopener noreferrer">
              <picture class="card-item__img card-item__img--contact">
                <img
                  class="card-item__img--front--contact"
                  src="/img/maxi.jpg"
                  alt="Mi item card"
                />
              </picture>
              <div class="card-item__content">
                <p class="card-item__license">Developer</p>
                <h3 class="card-item__name">Maxi Derecho</h3>
                <p class="card-item__price">$91218</p>
                <p class="card-item__offer">912 CUOTAS SIN INTERÉS</p>
              </div>
            </a>
          </article>
        </picture>

        <article class="item__content contact__content">
          <p class="contact__license">Fullstack web developer</p>
          <h1 class="contact__title">Maxi Derecho</h1>
          <a class="contact__link" href="https://github.com/maxiderecho" target="_blank" rel="noopener noreferrer"><img class="link__icon" src="/img/github-mark.svg" alt="Github Icon"> Github</a>
          <a class="contact__link" href="https://www.linkedin.com/in/maxiderecho/" target="_blank" rel="noopener noreferrer"><img class="link__icon" src="/img/linkedin-icon.png" alt="Linkedin Icon"> Linkedin</a>
          <p class="contact__description">Lea la documentación del<br>Funkoshop en el repositorio.</p>
          <div class="contact__carrito">
              <a class="contact__button" href="https://github.com/maxiderecho/funkoshop-clonado" target="_blank" rel="noopener noreferrer">Ir al repositorio del proyecto</a>
          </div>
        </article>
      </section>
    </main>

    <%- include ('./partials/footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="/scripts/menu.js"></script>
  </body>
</html>
